<div class="container-fluid  course-create ">
    <div class="row">
        <div class="col-md-8">
            <form name="register">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Code</label>
                            <input  ng-class="{'form-group has-error ' : errors.code }" type="text" class="form-control" data-ng-model="item.id" placeholder="Code"
                                   required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control" data-ng-model="item.title" placeholder="Title"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Level</label>
                            <select class="form-control" ng-model="item.level"
                                    ng-options="level as level for level in levels" required></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Teacher</label>
                            <select class="form-control" required ng-model="item.teacher1"
                                    ng-options="teacher.id as teacher.fullName for teacher in  teachers"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Start</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}"
                                           ng-model="item.start" placeholder="Start" is-open="start"
                                           datepicker-options="dateOptions" close-text="Close"/>
                        <span type="button" class="input-group-addon button" ng-click="open($event,0)"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Finish</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}"
                                           ng-model="item.finish" placeholder="Finish" is-open="finish"
                                           datepicker-options="dateOptions" close-text="Close"/>
                        <span type="button" class="input-group-addon button" ng-click="open($event,1)"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Days & Hours</label>
                            <input type="text" class="form-control" data-ng-model="item.daysHours" placeholder="Level"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <div class="input-group">
                         <input type="number" class="form-control" data-ng-model="item.price" placeholder="Price"
                                                            required/>
                                <span class="input-group-addon">VND</span></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Discount</label>
                            <input type="text"  class="form-control" ng-model="item.discount" placeholder="Discount"
                                   required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Comment</label>
                            <textarea type="text" class="form-control" data-ng-model="item.comment" placeholder="Comment"
                                      required rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" data-ng-disabled="registerForm.$invalid"
                        data-ng-click="create(item)">Create
                </button>
            </form>
        </div>
        <div class="col-md-4"><div class="ads-hide"></div></div>
    </div>


</div>
