

.gridStyle {border: 1px solid rgb(212,212,212); width: 500px;height: 300px;}
.inform-bar-content {padding: 5px;color: #fff;text-align:center;}
.inform-bar-content p{font-size: 25px;}
/*hide class*/
.ads-hide{visibility: hidden;}
/*Navigation*/
nav.navbar{background: #428bca;border-bottom: 1px solid #ddd;padding-top: 5px;}
nav.navbar ul li a{ color: #ddd;}
nav.navbar ul li a:hover,
nav.navbar ul li a:focus{color: #fff; background-color: transparent;}
nav.navbar ul li ul.dropdown-menu li a{color: #555;}
nav.navbar ul li ul.dropdown-menu li a:hover,
nav.navbar ul li ul.dropdown-menu li a:focus{color: #000; background-color: transparent;}
nav.navbar ul li.open>a,
nav.navbar ul li.open>a:hover,
nav.navbar ul li.open>a:focus{background-color: transparent;}
/*form course create*/
.course-create form {padding-bottom: 30px;}
/*form profile create*/
.profile-courses { min-height: 150px;}
ul .courseItem {margin: 7px 0 3px; list-style: none;}
.profile-form ul.nav-tabs { margin-bottom: 25px;}
.course-form-checkbox {padding-bottom: 0;background: none;}
.course-form-checkbox span.checkbox {margin-top: 0;margin-bottom: 0;}
.course-form-checkbox span.checkbox input {margin-top: 2px;}