<br/><br/><br/><br/>


<div class="row">
<div class="col-md-3"></div>
    <div class="col-md-6"><input class="form-control" id="keywords" type="text" ng-model="keywords" ng-change="reload()"placeholder="Search" /></div>
    <div class="col-md-3"></div>
</div>
<br/><br/>

<!--<div class="gridStyle" ng-grid="gridOptions"></div>-->

<div id="profiles-list">
    Total : <span>{{tableParams.total()}}</span>
    <table ng-table="tableParams" class="table table-condensed table-hover">
        <tr id="tr{{item.id}}" ng-repeat="item in $data">
            <td class="rowTd"  data-title="'ID'">
                <span>
                    {{item.id}}
                </span>
            </td>
            <td class="rowTd"  data-title="'FullName'">
                <span ng-if="!item.$edit">
                    {{item.fullName}}
                </span>
                <div ng-if="item.$edit">
                    <input class="form-control" type="text" ng-model="item.fullName" />
                </div>
            </td>
            <td class="rowTd"  data-title="'Email'">
                 <span ng-if="!item.$edit">
                    {{item.email}}
                </span>
                <div ng-if="item.$edit">
                    <input class="form-control" type="text" ng-model="item.email" />
                </div>
            </td>
            <td data-title="'Actions'" >
                <a ng-if="!item.$edit" href="" class="btn btn-default btn-xs" ng-click="item.$edit = true">Edit</a>
                <a ng-if="item.$edit" href="" class="btn btn-primary btn-xs" ng-click="item.$edit = false">Save</a>
                <a ng-if="!item.$edit" href="" class="btn btn-danger btn-xs" ng-click="deleteProfile(item.id)">Delete</a>
            </td>
        </tr>

    </table>



</div>
