@()<!DOCTYPE html>
<html>
  <head>

    <title data-ng-bind="pageTitle"></title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@CdnWebJarAssets.getUrl(CdnWebJarAssets.locate("bootstrap.min.css"))" />
    @*-- Add More CSS here -- *@

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ng-grid.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    @import play.api.Play.current
    <script>
     @Html(org.webjars.RequireJS.getSetupJavaScript(routes.CdnWebJarAssets.at("").url, current.configuration.getString("contentUrl").orNull))
    </script>
      @*the folder contains the main.js is the base folder, baseUrl for requirejs*@
    <script data-main="@routes.Assets.at(helper.mainScriptSrc(scriptName = "main"))" src="@CdnWebJarAssets.getUrl(CdnWebJarAssets.locate("require.js"))"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>

    <nav class="navbar navbar-fixed-top " data-ng-controller="HeaderCtrl"
        data-ng-cloak>
      <div class="container" data-ng-switch="!!user" >
        <ul class ="nav nav-pills "data-ng-switch-when="true">
            <li class="btn-group" dropdown is-open="status.isopen" >
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Management<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/profiles">Profiles</a></li>
                    <li><a href="#/createProfile">Create Profile</a></li>
                    <li><a href="#/courses">Courses</a></li>
                    <li><a href="#/createCourse">Create Course</a></li>
                </ul>
            </li>

            <li class="btn-group" dropdown  >
              <a class="dropdown-toggle" data-toggle="dropdown" ng-disabled="disabled" ng-mouseover="hover($event)">
                Account <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a href="" data-ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
        <div data-ng-switch-when="false">

          <ul class="nav navbar-nav pull-right">

            <li><a href="#/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    @*-- Header -- *@
     <header></header>
    @* -- Main Content -- *@
    <section class="container" data-ng-cloak>
        <div id="alert-container" style="position: fixed;top: 60px;z-index: 1000;width: 100%;left: 0; display:none;"></div>
        <br/><br/>
        <div data-ng-view></div>
    </section>

    @*-- Footer -- *@
    <footer data-ng-controller="FooterCtrl">
    </footer>
  </body>
</html>
